<?xml version='1.0' encoding='utf-8'?>

<widget id="com.test.subtube" version="0.0.1"
    android-versionCode="1"
    ios-CFBundleVersion="0.0.1"
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>
        SubTube
    </name>

    <description>
        Our SubTube app, a WIP.
    </description>

    <author email="HackerManiac@users.noreply.github.com">
        Vidminas Mikucionis
        Jokubas de Kort
        Florian Simoens
    </author>

    <content src="index.html" />
    <icon src="assets/android/SubTube/iconST.png" />

    <!--Whitelist plugin-->
    <plugin name="cordova-plugin-whitelist" version="1" />
    <!-- Enable requests to content: URLs -->
    <access origin="content:///*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
  
    <!--Status bar plugin-->
    <preference name="StatusBarOverlaysWebView" value="false" />

    <!--Splash screen plugin-->
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="LoadingDialog" value="Loading, Please wait!"/>
    <preference name="AutoHideSplashScreen" value="true" />

    <!--File plugin-->
    <preference name="AndroidPersistentFileLocation" value="Internal" />

    <!--Hooks-->
    <!--<hook type="before_prepare" src="assets/jshint.js" />
    JSHint doesn't seem to work :(-->
  
    <platform name="android">
        <allow-intent href="market:*" />
        <hook type="after_prepare" src="assets/android_copy_assets.js" />
        <splash src="assets/android/SubTube/splash/SubTube 240x320 splash.png" density="port-ldpi"/>
        <splash src="assets/android/SubTube/splash/splash-port-xhdpi.png" density="port-mdpi"/>
        <splash src="assets/android/SubTube/splash/splash-port-xhdpi.png" density="port-hdpi"/>
        <splash src="assets/android/SubTube/splash/splash-port-xhdpi.png" density="port-xhdpi"/>

        <preference name="StatusBarBackgroundColor" value="#990000" />
        <!--
        <icon src="res/android/ldpi.png" density="ldpi" />
        <icon src="res/android/mdpi.png" density="mdpi" />
        <icon src="res/android/hdpi.png" density="hdpi" />
		<icon src="res/android/xhdpi.png" density="xhdpi" />
        -->
    </platform>
  
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <preference name="StatusBarBackgroundColor" value="#00FFFFFF" />
        <preference name="StatusBarStyle" value="lightcontent" />
		<!--
        iOS 8.0+
        iPhone 6 Plus
        <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
        
        iPhone / iPod Touch
        <icon src="res/ios/icon-60.png" width="60" height="60" />
        <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
      
        iPad
        <icon src="res/ios/icon-76.png" width="76" height="76" />
        <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
      
        iOS 6.1
        Spotlight Icon
        <icon src="res/ios/icon-40.png" width="40" height="40" />
        <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
      
        iPhone / iPod Touch
        <icon src="res/ios/icon.png" width="57" height="57" />
        <icon src="res/ios/icon@2x.png" width="114" height="114" />
      
        iPad
        <icon src="res/ios/icon-72.png" width="72" height="72" />
        <icon src="res/ios/icon-72@2x.png" width="144" height="144" />
      
        iPhone Spotlight and Settings Icon
        <icon src="res/ios/icon-small.png" width="29" height="29" />
        <icon src="res/ios/icon-small@2x.png" width="58" height="58" />
      
        iPad Spotlight and Settings Icon
        <icon src="res/ios/icon-50.png" width="50" height="50" />
        <icon src="res/ios/icon-50@2x.png" width="100" height="100" />
        -->
    </platform>

    <platform name="browser">
        <preference name="SplashScreen" value="/assets/iconST.png" /> <!-- defaults to "/img/logo.png" -->
        <preference name="SplashScreenDelay" value="3000" /> <!-- defaults to "3000" -->
        <preference name="SplashScreenBackgroundColor" value="white" /> <!-- defaults to "#464646" -->
        <preference name="ShowSplashScreen" value="false" /> <!-- defaults to "true" -->
    </platform>
</widget>
